body{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  text-align: center;
}
.head{
  font-size: 60px;
  font-weight: bolder;
}
.count{
  font-size: 45px;
  text-align: center;
  padding: 5%;
  color: crimson;
}
.btn1{
  margin: 1%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.btn2{
  margin:1%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.btn3{
  margin: 1%;
  height: 30px;
  width: 70px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 5px;
}
button:hover{
  background-color: rgb(51, 99, 245);
}
